body {
  margin-top: 0px;
  margin-bottom: opx;
  width: auto;
}


/* ----------------------------------header----------------------------------- */

.header {
  align-items: center;
  background-color: aquamarine;
  height: 250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  margin-left: auto;
  margin-right: auto;
}

.pinkyicon {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #ffffff;
}

.info {
  float: right;
  font-size: 50px;
  padding-top: 50px;
  padding-left: 30px;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

/* -------------------------------------main-------------------------------- */
.main {
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #9fe1ff;
  text-align: center;
}

.blogs {
  align-items: center;
}

.main h1 {
  font-size: 25px;
  padding-top: 60px;
}

.smallp {
  border-radius: 20%;
}

/* -------------------------------------footer----------------------------- */
.footer {
  background-color: pink;
  height: auto;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}



