body {
  margin-top: 0px;
/*   margin-bottom: 0px; */
}


/* --------------------------header----------------------------- */

.header {
  align-items: center;
  background-color: aquamarine;
  height: 250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.icon {
margin: 0px auto;
}

.pinkyicon {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #ffffff;
}

.pinkyicon:hover {
    width:220px;
    height:220px;
}



.info span:hover {
  color: red;
  font-size: 80px;
}

.info {
  float: right;
  font-size: 50px;
  padding-top: 70px;
  padding-left: 30px;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

/* ---------------------------sns---------------------------- */

.sns {
  background-color: #303030;
  height: 80px;
  align-items: center;
  line-height: 100px;
  text-align: center;
}

.sns img {
  margin-left: 30px;
}

.sns img:hover {
  width: 60px;
  height: 60px;
  }

/* ---------------------------main---------------------------- */

.main {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #9fe1ff;
  text-align: center;
}

.blogs {
  align-items: center;
}

.blogs a {
  color: blue;
  background-color: rgb(124, 192, 255);
  border-radius: 10px;
  padding: 8px 24px;
  box-shadow: 4px 7px rgb(70, 70, 70);
}

.blogs a:hover {
font-size: 35px;
}

.blogs a:active {
  position: relative;
  top: 7px;
  left: 4px;
  box-shadow: none;
}

.blogs h1 {
  font-size: 32px;
  padding-top: 60px;
  padding-bottom: 5px;
}

.plus {
  color: rgb(95, 95, 95);
  font-size: 5px;
  background-color: rgb(131, 191, 231);
  border-radius: 20%;
}

.answer {
  font-size: 12px;
  padding-bottom: 5px;
  background-color: rgb(157, 181, 252);
  display: none;
}

.answer p {
  font-size: 20px;
}

.accordion {
  cursor: pointer;
}

.accordion:hover {
  font-size: 45px;
  background-color: rgb(166, 201, 255);
}

.smallp {
  border-radius: 20%;
}

/* -------------------------------footer------------------------ */
.footer {
  background-color: #303030;
  color: white;
  height: auto;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.smallPFooter {
  border-radius: 50%;
  border: 2px solid white;
}

/* --------------------------after----------------------------- */

