body {
  margin-top: 0px;
}


/* --------------------------header----------------------------- */
/* @media (max-width: 670px) {
  .header {
    background-color: rgb(214, 127, 255);
  }
  .pinkyicon {
    border-color: black;
  }
  .pinkyicon:hover {
      width:220px;
      height:220px;
  }
 } */




.header {
  background-color: aquamarine;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.icon {
margin: 0px auto;
}

.pinkyicon {
  margin: 10px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #ffffff;
}

.pinkyicon:hover {
  width:220px;
  height:220px;
}



.info span:hover {
  color: red;
  font-size: 80px;
}

.info {
  float: right;
  font-size: 50px;
  padding-top: 80px;
  padding-left: 30px;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

/* ---------------------------sns---------------------------- */

.sns {
  background-color: #303030;
  height: 80px;
  align-items: center;
  line-height: 100px;
  text-align: center;
}

.sns img {
  margin-left: 30px;
}

.sns img:hover {
  width: 60px;
  height: 60px;
  }

/* ---------------------------main---------------------------- */

.main {
  /* height: 500px; */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #9fe1ff;
  text-align: center;
  background-image: url(Singaporewallpaper.jpeg);
  background-size: cover;
  opacity: 0.8;
}

.blogs {
  align-items: center;
}

.blogs a {
  color: rgb(218, 184, 184);
  background-color: rgb(68, 9, 112);
  border-radius: 10px;
  padding: 8px 24px;
  box-shadow: 4px 7px rgb(0, 0, 0);
}

.blogs a:hover {
font-size: 35px;
}

.blogs a:active {
  position: relative;
  top: 7px;
  left: 4px;
  box-shadow: none;
}

.blogs h1 {
  font-size: 32px;
  padding-top: 60px;
  padding-bottom: 5px;
  color: #f73636;
  font-family: monospace;
  cursor: zoom-in;
}

.plus {
  color: rgb(95, 95, 95);
  font-size: 5px;
  background-color: rgb(219, 219, 219);
  border-radius: 20%;
  cursor: pointer;
}

.answer {
  font-size: 12px;
  background-color: rgba(185, 155, 255, 0.445);
  font-weight: bold;
  display: none;
  cursor: zoom-out;
}

.answer p {
  font-size: 20px;
}

.accordion {
}

.accordion:hover {
  /* font-size: 45px; */
  /* background-color: rgb(185, 166, 255); */
}

.smallp {
  border-radius: 20%;
}

.eBook {
margin-bottom: 60px;
display: inline-block;
}

/* -------------------------------footer------------------------ */
.footer {
  background-color: #303030;
  color: white;
  height: auto;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.smallPFooter {
  border-radius: 50%;
  border: 2px solid white;
}

/* --------------------------after----------------------------- */

